*{
    box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: #121212;
  width: 700px;
  color: #fff;

  /* Margin: Margem do container  */
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  /* margin: 50px; */

  /* Padding: espaçamento interno */
  padding: 50px;
  /* padding-top: 30px;
    padding-left: 30px; */

  /* Border: aplica uma borda */
  border: 5px solid red;
  border-radius: 10px;
}

.rede-social h2{
    text-align: center;
}

.rede-social ul{
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.rede-social li{
    margin-bottom: 12px;
}

.rede-social a{
    text-decoration: none;
    color: #000000;
}

.rede-social a:hover{
    color: #ff0000;
}